body{
    color:rgb(29, 29, 29);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:16px;
    font-weight:400;
    line-height:2em;
    margin: 0px;
}

header{
    color: teal;
    text-align: center;
    background-color: rgb(54, 52, 52)
  }

header{
    border:2px solid teal;
    margin: 0 auto;
    width:100%;
    padding: 5px 0px 5px 0px;
}

nav{
    color:white;
}

a{
    padding-right: 10%;
    text-align: left;
    text-decoration: none;
    color:#fff
}

a{
    font-size: 14px;
    font-weight: bold;
}

a:hover{
    color:teal;
}

a:active{
    color:teal;
}

main{
    border: 2px solid teal;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
}

h1{
    font-size:36px;
    color: teal
}

h2{
    color: #000;
}

h3{
    color: #000;
}

p{  padding-top:20px;
    padding-right:10px;
    padding-bottom:0px;
    padding-left:10px;
}

h1, h2, h3{
    padding:10px;
}

ul{
    list-style-type: none}

.menu-bar {
    display: inline;
}

.profielfoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  
}

div.gallery {
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
.form {
    padding: 20px;
}
  

/* MEDIA QUIERIES */

@media (min-width: 1024px) {
    
    body {
        background-color: #272727;
        color: #fff;
        font-size: 12px;
        line-height: 1.5em;
    }
        h2 {color: #fff;
            font-size: 18px;
        }

        h3 {color: #fff;
        font-size: 14px;
            }
}


/* Smartphones (portrait)
minimale breedte : 320px;

// Tablets (portrait)
minimale breedte : 768px

// Desktop 
minimale breedte : 1024px

*/

 